/* Styles */

body {
	background-color: lightblue;
	color: black;
	font-family: sans-serif;
}

article {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 4em;
}
h1 {
	font-size: 2.5em;
	line-height: 1;
	text-decoration: none;
	text-align: center;
  border: 3px solid blue;
  padding: 8px;
  text-shadow: 3px 2px yellow;
}

h2 {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	text-decoration: underline;
  text-align: justify;
  text-indent: 50px;
}

p {
	margin: 0 0 1em 0;
	font-family: serif;
	text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
}